{% extends 'paginas/template.html' %}
{% block titulo %}
<title>Início</title>
{% endblock %}

{% block conteudo %}
<h3>Bem-Vindo à <b>PetFriends</b></h3>
<hr>
<p1>Lorem ipsum dolor sit amet. Aut reprehenderit laboriosam est voluptatem fugit et iure facere ut assumenda quibusdam. Ut nihil eligendi et provident architecto ea voluptatem nesciunt vel aperiam voluptates est eveniet aliquid et veritatis ipsum. Qui itaque consectetur aut asperiores odit eum magni quas ut porro provident cum quibusdam veniam qui accusantium cumque est explicabo nihil. Non impedit repellat quo cupiditate distinctio et sunt obcaecati ut doloribus aspernatur qui quod dignissimos eum voluptatem eius.

    Sed sunt autem est minima dolore in iusto officia hic consequatur architecto et fuga saepe 33 quia galisum est neque earum. Sed illo numquam est labore consequatur 33 dolor beatae ex omnis voluptas ad velit dolor sit praesentium galisum.</p1>

{% endblock %}


{% block rodape %}
<br><br>
{% endblock %}