{% extends 'paginas/template.html' %}

{% block titulo %}
<title>SOBRE A NOSSA CLÍNICA</title>
{% endblock %}

{% block conteudo %}
<h2> Tudo sobre a PetFriends!</h2>
<hr>
<p1>A PetFriends é uma clínica veterinária pautada no bem estar e na saúde do seu pet.
    Também visamos um bom atendimento e conforto para você, amante de pets!
</p1>

<h3>Sobre os Nossos Atendimentos</h3>
<p1>Nós temos os melhores profissionais do mercado para atender você! Fazemos atendimento
    com gatos e cachorros. Temos: Banho e Tosa, Cirurgias e Vendas de Medicamentos da melhor qualidade!
</p1>
<h3>Nossas Parcerias</h3>
<p1>Lorem ipsum dolor sit amet. Aut reprehenderit laboriosam est voluptatem fugit et iure facere ut assumenda quibusdam.</p11>
{% endblock %}